body {
    font-size: 25px;
    height: 100%;
    min-height: 50%;
    display:flex; 
    flex-direction:column; 
}

footer{
    color: aliceblue;
    width: 15vw;
    text-align: center;
    background-color: #333;
    position: fixed;
    right: 3vh;
    bottom: 0;
}

.container{
    margin: 3vh;
    /* background-color:rgb(206, 255, 132); */
    min-height: 30vh;
}

.navigation {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    top: 0;
}

.navigation li {
    float: left;
}

.navigation a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 25px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
li.dropdown {
  display: inline-block;
}

li.dropdown {
  display: inline-block;
}

.navigation li a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.active {
    background-color: rgb(62, 143, 65);
}

span{
  font-size: 21px;
}

